
.site {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0,1fr);
  background-image: url(images/bg.svg);
}


/*svg shape divider TOP*/
.custom-shape-divider-top-1726554653 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1726554653 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 46px;
}

.custom-shape-divider-top-1726554653 .shape-fill {
  fill: #212529;
}


/*SVG divider bottom*/
.custom-shape-divider-bottom-1726554760 {
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1726554760 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 46px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1726554760 .shape-fill {
  fill: #212529;
}

/*Nav Bar Beginning*/
.nav-head {
  display: flex !important;
  justify-content: space-evenly !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .nav-item .nav-link {
  color: #ffffff;
}

.navbar .nav-item .nav-link i {
  margin: 0 6px;
}

.navbar .i {
  color: #752c2c;
}


#navbarSupportedContent {
  margin: auto;
}

#navbarSupportedContent .input-group {
  margin: 5px;
  width: 80% !important;
}

.sorting {
  align-items: center;
}

.sorting .li {
  margin: 0 10px;
}

.nav-form {
  margin: auto 10px;
  width: 50%;
}

.all-butn {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.text-white {
  font-size: 25px;
  margin-left: 3px;
}

.navbar .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #af2626;
  margin: 0 2px;
}

.fa-li {
  position: relative;
  left: 0;
}

/*Media queries for extra navbar responsivness for most of the screens*/
@media (max-width: 900px) {

  #navbarSupportedContent.show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-expand-lg .navbar-nav {
    padding: 4px;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .navbar-nav li {
    margin: 0 5px;
  }

  .nav-form {
    margin: auto 10px;
    width: 91%;
  }

}

@media (min-width: 993px) {

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }


}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1708px !important;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    width: 420px;
    justify-content: space-evenly;
    font-weight: bold;
  }


}

/*Nav Bar end*/


/*Footer beginning*/

.container-footer {
  color: #ffffff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin-top: auto !important;
  bottom: 0;
  position: relative;
}

.section-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact h5 {
  margin-bottom: 20px !important;
}

.contact .nav-link {
  font-size: 24px;
  color: #ffffff;
}


.extra-links .nav .nav-item .nav-link {
  color: #ffffff !important;
  font-weight: bold;
}

.copyright-text {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/*Media queires for extra footer responsivness for most of the screens*/

@media (max-width: 993px) {
  .copyright-text {
    display: flex;
    flex-direction: column;
    align-items: center;


  }

  .section-rows {
    flex-direction: column;
    align-items: center;
  }

  .section {
    /*All the sections(Contact,About & links) inside of sections*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .links_extra {
    align-items: center;
  }

}


/*Footer Ending*/

/*Home page beginning*/
.home-container {
  height: 100%;
  padding-bottom: 50px;
  margin: 20px auto;
  box-sizing: border-box;
}

.container_header {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.website_description {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.website_description p {
  width: 50%;
  margin: 20px auto;
}

.website_description h2 {
  margin: 10px auto;
}

.app_title {
  margin: 0 auto 5px;
  height: 50px;
  width: 100%;
  text-align: center;
}


.container_body {
  padding: 100px;
}

/*Home page ending*/

/*Book Cards beginning*/
.book-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 5px;
  height: 620.5px;
  width: 286.4px;
}

.card-body {
  flex-direction: column;
  align-items: center;
}

.card-link img {
  margin-bottom: 10px;
  max-width: 259.817px;
  max-height: 364.35px;
}

/*Book Cards ending*/